html {
    background-image: url(https://getwallpapers.com/wallpaper/full/e/c/e/1311552-awesome-cat-wallpapers-1920x1080-computer.jpg);
}

h1 {
    text-align: center;
    color: rgb(128, 58, 168);
    text-shadow: 0.5px 0.5px 1px #FEFEFE;
}

form {
    margin: 40px 0;
    padding: 50px;
}

form label {
    display: block;
    margin: 0 0 10px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px #FEFEFE;
    color:rgb(128, 58, 168);
}

form input {
    border: none;
    border-radius: 5px;
}

.submit {
    margin: 0 0 10px;
}

fieldset {
    font-weight: bold;
    width: 25%;
    color:rgb(128, 58, 168);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: rgb(128, 58, 168);
    background-image: url(https://media.istockphoto.com/illustrations/cute-watercolor-background-with-grey-cats-illustration-id871690868?k=20&m=871690868&s=170667a&w=0&h=9gdCyGRooYxsl8dOwWe7vQsba1UJ9Q3vkTr7pGggBQU=);
}

fieldset legend {
    color: rgb(128, 58, 168);
    font-size: 24px;
}

.submit {
    background: rgb(128, 58, 168);
    color: #fefefe;
    font-weight: bold;
    width: 10%;
    transition: 1s;
}

.submit:hover {
    background: #fefefe;
    color: rgb(128, 58, 168);
    cursor: pointer;
}
